@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

$hoki: #668c9e;
$turqoise: #0053b3;
$grey-nurse: rgb(55, 58, 60);
$night-shadz: rgb(255, 206, 70);
$text: rgb(55, 58, 60);
$accent-line: rgba(171, 171, 172, 0.44);
$background: #fff;
$card: #0053b3;
$accent: rgb(255, 78, 108);
$accent-alt: rgb(74, 218, 74);

:root {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-primary {
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  width: 17.7rem;
  height: 5.4rem;
  border: $turqoise solid 1px;
  border-radius: 5px;
  color: $turqoise;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $turqoise;
    color: $background;
    transform: scale(1.05);
    transition: all 0.3s;
  }
}

.btn-secondary {
  outline: none;
  background-color: $night-shadz;
  width: 14.5rem;
  height: 4.4rem;
  border: none;
  border-radius: 5px;
  color: $text;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  backface-visibility: hidden;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    background-color: $turqoise;
    transition: width 0.3s;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 5px;
  }

  &:hover {
    color: #fff;
    transform: scale(1.05);
    transition: all 0.3s;
    &::after {
      width: 100%;
      transition: width 0.3s;
    }
  }
}

.btn-tertiary {
  outline: none;
  background-color: transparent;
  width: 16rem;
  height: 5.2rem;
  border: 2px dashed $night-shadz;
  border-radius: 5px;
  color: $night-shadz;
  font-size: 2.4rem;
  font-weight: 400;
  cursor: pointer;
}

.btn-nav {
  font-size: 1.4rem;
  width: 10rem;
  height: 3.5rem;
  background-color: transparent;
  border: 2px dashed $turqoise;
  border-radius: 5px;
  color: $turqoise;
  cursor: pointer;
  transition: transform 0.3s;
  backface-visibility: hidden;

  &:hover {
    background-color: $turqoise;
    color: $background;
    transition: transform 0.3s;
    transform: scale(1.05);
  }
}

.overflow-hidden {
  overflow: hidden;
}
