.contact {
  margin-top: 10rem;
  opacity: 0;
  &__header {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    &--headline {
      color: $grey-nurse;
      font-size: 2.4rem;
      font-weight: 700;
      flex-shrink: 0;
    }
    &--accent-line {
      width: 100%;
      height: 1px;
      color: $accent-line;
      margin-left: 1rem;
    }
  }

  &__secondary {
    display: flex;
    align-items: center;
    flex-direction: column;

    &--text {
      font-size: 1.6rem;
      color: $text;
      margin-bottom: 4rem;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 2rem;

    &--icon {
      margin: 4rem 0;
      color: $text;

      &:hover {
        color: $turqoise;
      }
    }
  }

  &__footer {
    display: none;
  }
}

#message {
  height: 12rem;
  overflow-y: scroll;
}

@media screen and (min-width: 1200px) {
  .contact {
    &__header {
      justify-content: center;
      &--headline {
        color: $grey-nurse;
        font-size: 3.2rem;
      }
      &--accent-line {
        display: none;
      }
    }

    &__secondary {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 4rem;

      &--text {
        font-size: 1.6rem;
        width: 60rem;
        text-align: center;
      }
    }

    &__social {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }

    &__footer {
      display: none;
    }
  }
}
