body {
  background-color: $background;
  margin: 2rem;
}

.margin__contact--email,
.margin__contact--social {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 110rem;
    margin: 0 auto;
    padding: 0;
  }

  .margin__contact--email {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2rem;
    gap: 1.5rem;
    position: fixed;
    bottom: 0;
    left: 4rem;

    &--text {
      color: $hoki;
      font-size: 1.3rem;
      transform: rotate(270deg);
      letter-spacing: 0.2rem;

      &:hover {
        color: $grey-nurse;
        cursor: pointer;
      }
    }

    &--line {
      transform: rotate(90deg);
      width: 20rem;
      margin-top: 21rem;
      height: 1px;
      background-color: $hoki;
      border: none;
    }
  }

  .margin__contact--social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    position: fixed;
    bottom: 0;
    right: 4rem;
    width: 2rem;

    &--icon {
      color: $hoki;

      &:hover {
        color: $grey-nurse;
        cursor: pointer;
      }
    }

    &--line {
      transform: rotate(90deg);
      width: 20rem;
      margin-top: 11rem;
      height: 1px;
      background-color: $hoki;
      border: none;
    }
  }
}
