.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.911);

  &__menu-btn {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    position: relative;
    margin-top: 1rem;
    z-index: 100;
    height: 3rem;
    width: 5rem;
    border: none;
    background-color: transparent;
    position: relative;
    outline: none;
    animation: flyIn 0.5s ease-in-out 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;

    &--hamburger {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 4rem;
      height: 0.3rem;
      background: $turqoise;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 4rem;
        height: 0.3rem;
        background: $turqoise;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
      }

      &::before {
        transform: translateY(-1rem);
      }

      &::after {
        transform: translateY(1rem);
      }
    }

    &.open {
      .navbar__menu-btn--hamburger {
        background: transparent;
        transform: translateX(-40px);

        &::before {
          transform: rotate(45deg) translate(15px, -15px);
          background: $night-shadz;
        }

        &::after {
          transform: rotate(-45deg) translate(15px, 15px);
          background: $night-shadz;
        }
      }
    }
  }

  &__logo {
    color: $grey-nurse;
    font-size: 2rem;
    font-weight: bold;
    animation: flyIn 0.7s ease-in-out;

    &--justin {
      color: $turqoise;
    }
  }

  &__links {
    display: none;
  }

  &__links--mobile {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: $turqoise;
    list-style: none;
    color: #fff;
    transform: scale(0);
    z-index: 10;
    transform-origin: top right;
    transition: all 0.2s ease-in-out;

    &.active {
      transform: scale(1);
      transform-origin: top right;
      transition: all 0.5s ease-in-out;
    }

    &-link {
      padding: 2rem 0;
      font-size: 2.4rem;
      cursor: pointer;
      opacity: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    height: 7rem;
    padding: 4rem 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    &__menu-btn {
      display: none;
    }

    &__links {
      display: flex;
      list-style: none;
      color: $grey-nurse;
      font-size: 1.4rem;
      width: 40rem;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &--link {
        animation: flyIn 0.7s ease-in-out;
        animation-fill-mode: both;

        &:nth-child(4) {
          animation-delay: 0.4s;
        }
        &:nth-child(3) {
          animation-delay: 0.5s;
        }
        &:nth-child(2) {
          animation-delay: 0.6s;
        }
        &:nth-child(1) {
          animation-delay: 0.7s;
        }
      }

      &--link:not(:last-child) {
        position: relative;

        &::after {
          position: absolute;
          bottom: 0;
          left: -1px;
          content: '';
          height: 0.7rem;
          width: 0;
          background-color: $night-shadz;
          z-index: -1;

          transition: all 0.2s;
        }

        &:hover::after {
          width: 100%;
          transition: all 0.2s;
        }
      }
    }

    &__logo {
      font-size: 2.8;
    }
  }
}
